<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>My Unique Card, Post Card</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/menu.css?ver=5" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/custom_navbar.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
          <div class="navbar-wrapper">
            <div class="container">

              <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html" style="padding-top:8px"><img src="favicon_red.ico" width="50px" height="30px" style="display:inline; margin-right:10px;"/><strong>Post Card</strong></a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                          <li><a href="index.html">My Special Card</a></li>
                          <li><a href="wdrive.html">Dashboard</a></li>
                          <li class="active"><a href="accident.html">Move Korea Post</a></li>
                    </ul>
                  </div>
                </div>
              </nav>

            </div>
          </div>

    <div class="jumbotron" style="top: -70px; position: relative;">
      <div class="container font_white">
        <h2>Bigdata Analysis Dashboard : Statistics of customers spend</h2>
        <p>Post Card를 사용하는 소비자들의<br />
                  소비 패턴을 분석하여 전략적 정보를 확인할 수 있습니다.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Description &raquo;</a></p>
      </div>
    </div>

    <!--
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>-->
    <div class="kibana page_cover" style="top: -99px; position: relative;">
      <iframe src="http://localhost:5601/app/kibana#/dashboard/AWKLkYFTKnMK7Sdh7YTs?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'2016-06-23T11%3A06%3A29.189Z'%2Cmode%3Aabsolute%2Cto%3A'2017-10-05T19%3A32%3A25.945Z'))"  frameBoarder="0" scrolling="no"></iframe>
    </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/holder.js"></script>
    </body>
</html>
